/* DEFAULT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Mono", Helvetica, serif, system-ui;
}

html, body {
  min-height: 100vh;
  margin: 0 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;

  /* cursor: default; */
}

@media (max-width: 768px) {
  html, body {
  font-size: 0.85rem;
  }
}

/* DARK/LIGHT MODE */

:root {
  --bg-color: #FAF9F6;
  --text-color: #222222;
  --header-footer-border: 1px solid #b6b6b6;
  --border-dashed-items: 1px dashed #b6b6b6;
  --header-footer-tags: #b6b6b6;
  --header-footer-hover: black;
  --header-footer-text: #c6c6c6;
  --text-a-tags-color: #222222;
  --text-a-tags-decoration: underline 2px lightgray;
  --text-a-tags-color-hover: #4b6ac1;
  --text-a-tags-decoration-hover: underline 2px #172b70;
  --photography-background: #FAF9F6;
  --signature-color: #BF40BF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222222;
    --text-color: #FAF9F6;
    --header-footer-border: 1px solid grey;
    --border-dashed-items: 1px dashed grey;
    --header-footer-tags: grey;
    --header-footer-hover: #ff6900;
    --header-footer-text: rgb(106, 106, 106);
    --text-a-tags-color: #FAF9F6;
    --text-a-tags-decoration: underline 2px grey;
    --text-a-tags-color-hover: #BF40BF;
    --text-a-tags-decoration-hover: underline 2px #5D3FD3;
    --photography-background: black;
    --signature-color: #ff6900;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.8s ease, color 0.8s ease;
}

/* IMAGE OVERLAY */

img {
  cursor: zoom-in;
}

#image-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* iOS Safari */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 9999;
}

#image-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

#overlay-image {
  max-width: 98vw;
  max-height: 98vh;
  object-fit: contain;
  cursor: zoom-out;
}

/* HOMEPAGE */

#homepage-video {
  width: 100%;
}

/* HEADER */

.header {
  padding: 2rem 0 2rem 0;

  border-bottom: var(--header-footer-border);
  transition: border-bottom 1s ease;

  color: var(--header-footer-tags);

  max-width: 1200px;
  width: 100%;
  margin: 0 auto; 

  font-size: 0.9rem;
  text-transform: uppercase;

  font-weight: 600;
}

.header p {
  color: var(--header-footer-text);
}

#header-container {
  display: flex;
  width: 100%;
  align-items: center;
}

#date {
  margin-left: auto;
  font-weight: 400;
}

#centre-header {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.centre-tags {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.centre-tags a {
  text-decoration: none;
  color: var(--header-footer-tags);

  transition: color 1s ease;
}

#header-name {
  text-decoration: none;
  color: var(--header-footer-tags);
  transition: color 1s ease;

  margin-right: auto;
  font-weight: 400;
}

#header-name:hover, .centre-tags a:hover {
  color: var(--header-footer-hover);
}

/* HEADER MOBILE */

@media (max-width: 768px) {
  .header-item {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  #header-name {
    justify-content: end;
  }

  #centre-header {
    gap: 1.75rem;
  }

  .centre-tags {
  row-gap: 0.2rem;
}

  #date {
    display: none;
  }
}

/* FOOTER */

#footer-container {
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 2rem 0 2rem 0;
  border-top: var(--header-footer-border);
  transition: border-bottom 1s ease;

  color: var(--header-footer-tags);

  display: flex;
  justify-content: end;
  align-items: center;

  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  font-size: 0.9rem;
  text-transform: uppercase;
}

#social-container {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;

  align-items: center;
  justify-content: end;
}

#letterboxd-icon {
  position: relative;
  top: -2px;
}

#imdb-icon {
  position: relative;
  top: -2px;
}

.social-icon {
  width: 1.5rem;
  fill: var(--header-footer-tags);
  transition: fill 1s ease;
}

.social-icon:hover {
  fill: var(--header-footer-hover);
}

#footer-text {
  margin-bottom: 1rem;
}

#colophon-symbol {
  text-decoration: none;
  color: var(--header-footer-tags);
  transition: color 1s ease;
}

#colophon-symbol:hover {
  color: var(--header-footer-hover);
}

/* FOOTER MOBILE */

@media (max-width: 768px) {
  .footer {
    font-size: 0.7rem;
    justify-content: center;
  }
  
  #social-container {
    justify-content: center;
    column-gap: 0.7rem;
  }

  .social-icon {
    width: 1.2rem;
  }
}

/* INDEX.HTML */



/* GENERAL PAGES */

#page-header {
  margin-bottom: 3rem;
}

.main-column {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
}

.general-text-styles a {
  color: var(--text-a-tags-color);
  text-decoration: var(--text-a-tags-decoration);
}

.general-text-styles a:hover {
  color: var(--text-a-tags-color-hover);
  text-decoration: var(--text-a-tags-decoration-hover);
}

/* SHORTS/ANIMATION/MUSIC VIDEO/TRAILERS */

.editing-panel {
  margin-bottom: 4rem;
}

.editing-panel:last-child {
  margin-bottom: 0;
}

.editing-poster img, .editing-poster iframe {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
  flex: 2;
  margin-right: 2rem;
}

.editing-poster {
  display: flex;
  flex-direction: row;
}

.editing-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.editing-text a {
  font-style: italic;
  color: var(--text-a-tags-color);
  text-decoration: var(--text-a-tags-decoration);
}

.editing-text a:hover {
  color: var(--text-a-tags-color-hover);
  text-decoration: var(--text-a-tags-decoration-hover);
}

.editing-text p {
  font-size: 0.8rem;
}

.editing-text h4 {
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .editing-poster img, .editing-poster iframe {
  flex: 1;
  }

  .editing-text {
    flex: 1;
  }  
}

@media (max-width: 768px) {
  .editing-poster {
  flex-direction: column;
  }

  .editing-text {
    margin-top: 1rem;
  }
}

/* ASSISTING */

.assisting-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assisting-poster img {
  width: 300px;
}

.assisting-poster {
  width: 300px;
}

.assisting-text {
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.assisting-text h4 {
  font-size: 0.8rem;
  margin-top: 0.75rem;
}

.assisting-text p {
  font-size: 0.7rem;
}

@media (max-width: 768px) {
.assisting-poster img {
  width: 200px;
}

.assisting-poster {
  width: 200px;
}

.assisting-text {
  row-gap: 0.5rem;
}

.assisting-text h4 {
  margin-top: 0.5rem;
}
}

/* PHOTOGRAPHY */

#photography-body {
  background-color: var(--photography-background);
}

.photography-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-row {
  display: grid;
  gap: 1rem;
  margin-bottom: 5rem;
  align-items: center;
  width: 70%;
}

.photography-image {
  display: flex;
  flex-direction: column;
}

.photography-image img {
  width: 100%;
  display: block;
}

.photography-text {
  text-align: right;
  margin: 0.1rem 0 0 0;
  font-size: 0.6rem;
}

.photo-row:last-child {
  margin-bottom: 0;
}

.row-1 { grid-template-columns: 1fr; }
.row-2 { grid-template-columns: repeat(2, 1fr); }
.row-3 { grid-template-columns: repeat(3, 1fr); }
.row-4 { grid-template-columns: repeat(4, 1fr); }

@media (max-width: 768px) {
  .photo-row {
    width: 100%;
  }
  
  .row-2 { grid-template-columns: 1fr; }
  .row-3 { grid-template-columns: 1fr; }
  .row-4 { grid-template-columns: 1fr; }
}

/* ABOUT */

#eddie-mould {
  float: right;
  width: 350px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center 75%;
  margin: 0 0 2rem 2rem;
  border-radius: 75px;
}

#spotify-embed {
  margin-top: 1rem;
}

#signature {
  color: var(--signature-color);
}

@media (max-width: 768px) {
#spotify-embed {
  height: 152px;
  margin-top: 3rem;
}

#eddie-mould {
  float: none;
  display: block;
  margin: 0 auto 1rem;
  width: 250px;
  border-radius: 0;
}
}

/* WEB DESIGN */

.web-design-panel img {
  width: 100%;
}

.web-design-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 1rem;
}

/* DESIGN */

.design-panel {
  margin-bottom: 4rem;
}

.design-panel:last-child {
  margin-bottom: 0;
}

.design-image {
  display: flex;
  flex-direction: row;
}

.design-image img {
  width: 100%;
  flex: 1;
  margin-right: 2rem;
}

.design-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.design-text a {
  font-style: italic;
  color: var(--text-a-tags-color);
  text-decoration: var(--text-a-tags-decoration);
}

.design-text a:hover {
  color: var(--text-a-tags-color-hover);
  text-decoration: var(--text-a-tags-decoration-hover);
}

.design-text p {
  font-size: 0.8rem;
}

.design-text h4 {
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .design-image img {
  flex: 1;
  }

  .design-text {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .design-image {
  flex-direction: column;
  }

  .design-text {
    margin-top: 1rem;
  }
}