/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', arial, sans-serif;
}

a {
  color: black;
}

::selection {
  color: white;
  background: blue;
}

/* HOMEPAGE */

#body-home-page {
  padding: 2em;
  /* background-color: rgb(255, 228, 104); */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-home {
  flex-grow: 1;
}

#home {
  position: relative;
  z-index: 10;
  text-decoration: none;
  /* border-bottom: 1.25px solid black; */
}

.home-header {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.2em;
}

#under-home {
  padding-top: 0.5em;
}

#double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7%;
  margin-top: 0.8em;
}

#about-container {
  border-top: 1px solid black;
}

#website-navigation-container {
  margin-top: 22em;
}

#navigation-header {
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 1em;
}

#website-pages-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
}

.website-page {
  text-decoration: none;
  border: 1px solid red;

  height: calc(100% + 5px);

  padding-left: 5px;
  padding-right: 5px;

  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.website-page:hover {
  background-color: red;
  border: 1px solid blue;
  color: white;
}

#project-pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-type {
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: greenyellow;
  text-decoration: none;
}

.project-type:hover {
  background-color: red;
  color: white;
}

#projects-header {
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
  padding-top: 1em;
  margin-bottom: 1em;
}

#selected-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 108px;
}

.specific-project {
  border-top: 1px solid black;
  position: relative;
}

.background-image {
  object-fit: cover;
  /* object-position: top; BACKGROUND IMAGE CROP */
  width: 100%;
  height: 100%;
  opacity: 25%;
  z-index: 40;
}

.external-link-wrapper:hover + .background-image {
  opacity: 100%;
}

.external-link-wrapper:hover ~ .selected-header, .external-link-wrapper:hover ~ .selected-description, .external-link-wrapper:hover ~ .selected-year, .external-link-wrapper:hover ~ .selected-class, .external-link-wrapper:hover ~ .external-arrow, .external-link-wrapper:hover ~ .internal-arrow {
  color: white;
  text-shadow: 0px 0px 5px black;
}

.external-link-wrapper {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  position: absolute;
  z-index: 20;
  cursor: alias;
}

.internal-link-wrapper:hover + .background-image {
  opacity: 100%;
}

.internal-link-wrapper:hover ~ .selected-header, .internal-link-wrapper:hover ~ .selected-description, .internal-link-wrapper:hover ~ .selected-year, .internal-link-wrapper:hover ~ .selected-class, .internal-link-wrapper:hover ~ .external-arrow, .internal-link-wrapper:hover ~ .internal-arrow {
  color: white;
  text-shadow: 0px 0px 5px black;
}

.internal-link-wrapper {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  position: absolute;
  z-index: 20;
}

.selected-header {
  z-index: 10;
  position: absolute;
  bottom: 20px;
  left: 5px;

  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 800;
}

.selected-description {
  z-index: 10;
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 0.8em;
}

.selected-year {
  z-index: 10;
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 0.8em;
  font-style: italic;
}

.selected-class {
  z-index: 10;
  position: absolute;
  top: 18px;
  right: 5px;
  
  font-size: 0.8em;
  font-style: italic;
}

.external-arrow {
  z-index: 10;
  position: absolute;
  bottom: 5px;
  right: 10px;

  font-size: 1.25em;
}

.internal-arrow {
  z-index: 10;
  position: absolute;
  bottom: 5px;
  right: 10px;

  font-size: 1.25em;
}

#bottom-project {
  border-bottom: 1px solid black;
}

#footer-container {
  margin-top: 2em;
}

.small-text {
  font-size: 0.75em;
}

.small-line-gap {
  line-height: 1.25em;
}

.personal-links {
  font-size: 0.8em;
  text-decoration: underline solid black;
}

#email {
  text-decoration: none;
  font-size: 0.8em;
}

.link-arrows {
  display: inline-block;
  font-size: 0.8em;
}

/* 404 ERROR */

#body-404, #html-404, #container-404 {
  height: 100%;
}

#container-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* #header-404 {
  margin-bottom: 0.5em;
} */

#link-404 {
  text-decoration: underline;
  margin-bottom: 1.75em;
  font-style: italic;
}

#gif-404 {
  width: 175px;
  margin-bottom: 1.75em;
}

/* EVERYTHING */

#body-everything-page {
  padding: 2em;
}

.page-specific-header {
  font-size: 2em;
  font-weight: 350;
  margin-top: 0.4em;
  padding-top: 0.8em;
  border-top: 1px solid black;
}

/* PHOTOS */

#body-photos-page {
  padding: 2em;
  background-color: black;
}

#body-photos-page p, #body-photos-page a, #body-photos-page ul, #body-photos-page li, #body-photos-page details,
#body-post-page p, #body-post-page a {
  color: white;
}

#main-photos-tree a:hover {
  color: yellow;
}

body#body-photos-page span#menu-click {
  color: red;
}

.page-specific-header-white {
  font-size: 2em;
  font-weight: 350;
  margin-top: 0.4em;
  padding-top: 0.8em;
  border-top: 1px solid white;
}

#nav-square-white {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid red;
  width: 40px;
  height: 27px;

border-radius: 100px;
}

#nav-square-white:hover {
  border: 1px solid yellow;
}

#main-photos-tree {
  margin-top: 3em;
  line-height: 1.5;
  margin-left: 1.5em;
  display: inline-block;
}

#main-photos-tree ul, #main-photos-tree li  {
  list-style: none;
}

#main-photos-tree summary {
  cursor: pointer;
  /* list-style-type: "→  "; */
  list-style-position: outside;
  text-decoration: underline;
}

#main-photos-tree summary:hover {
  color: red;
}

.photos-parent-list {
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.photos-first-child {
  margin-left: 1em;
  text-decoration: none;
}

.photos-first-child:hover {
  color: yellow;
}

.photos-second-list {
  font-weight: 700;
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.photos-second-child {
  margin-left: 3em;
  text-decoration: none;
  display: block
}

ul details[open] > .photos-parent-list, 
ul details[open] > .photos-second-list {
  color: red;
}

#photo-tree-2024 {
  position: relative;
}

#photo-2024 {
  display: none;
  position: absolute;
  top: -50px;
  left: 20vw;

  width: 40vw;
  object-fit: contain;

  border: 2.5px solid white;
}

.photos-gallery {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos-gallery img {
  max-height: calc(100vh - 100px);
  max-width: calc(100vw - 100px);
  margin: 10px 0px 10px;
}

.photos-gallery-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.photos-gallery-double img {
  width: calc(100vw / 2 - 100px);
  margin: 10px;
  object-fit: contain;
}

.photos-gallery p {
  font-size: 0.9em;
  margin: 10px 0px 10px;
}

/* NAVIGATION */

#header-navigation-wrapper {
  position: relative;
}

#top-right {
  top: 0;
  right: 0;
  position: absolute;
}

#main-nav a {
  font-size: 2em;
  font-weight: 350;
  text-decoration: none;
  line-height: 1.25;
}

#main-nav {
  margin-top: 2.6em;
  margin-bottom: 1.6em;

  display: none;
}

#menu-click {
  cursor: pointer;
  font-size: 0.8em;
}

#nav-square {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  width: 40px;
  height: 27px;

border-radius: 100px;
}

#nav-square:hover {
  background-color: rgba(0, 0, 0, .15);
  color: blue;
  border: 1px solid blue;
}

/* EVERYTHING TABLE CONTENT */

#regular-page-content {
  display: flex;
  flex-direction: column;
}

#table-list {
  margin-top: 3em;
  width: 100%;

  background-color: rgb(249,249,249);
}

#page-item-wrapper {
  width: 100%;
  position: relative;
}

.internal-page-item, .onlyext-page-item {
  color: rgb(155,155,155);
}

.internal-page-item:hover {
  background-color: beige;
}

.external-page-item:hover {
  background-color: beige;
  cursor: pointer;
}

.onlyext-page-item:hover {
  background-color: beige;
}

.internal-page-item, .external-page-item, .onlyext-page-item {
  height: 1.25em;
  display: flex;
  align-items: center;

  text-decoration: none;
}

.year, .title, .description, .type {
  font-size: 0.8em;
}

.year {
  flex: 0.5;
}

.title {
  flex: 2;
}

.description {
  flex: 1.5;
}

.type {
  flex: 1;
}

@media screen and (max-width: 1250px) {
  .description, .type {
    display: none;
  }
}

span.page-hyperlink {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5em;

  top: 50%;
  transform: translate(0, -50%);

  opacity: 0%;
}

a.page-hyperlink {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5em;

  top: 50%;
  transform: translate(0, -50%);

  cursor: pointer;
  text-decoration: none;
}

a.page-hyperlink-onlyext {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5em;

  top: 50%;
  transform: translate(0, -50%);

  cursor: pointer;
  text-decoration: none;
  color: rgb(155,155,155);
}

/* WRITING */

#body-writing-page {
  padding: 2em;
}

/* POST PRODUCTION */

#body-post-page {
  padding: 2em;
  background-color: black;
}

body#body-post-page span#menu-click {
  color: red;
}

/* HIDING EVERYTHING FOR MOBILE (hehe) */

@media screen and (max-width: 775px) {
  .show-on-desktop {
    display: none;
  }
}

@media screen and (min-width: 776px) {
  .hide-on-desktop {
    display: none;
  }
}

#mobile-home-body {
  height: calc(100vh - 4em);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: end;
}

.mobile-textbox {
  font-size: 1.1em;

  display: inline-block;
  line-height: 1.2em;
}

.mobile-textbox a {
  color: rgb(218, 193, 82);
}

.mobile-textbox-white {
  /* display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end; */

  font-size: 1.1em;

  display: inline-block;
  line-height: 1.2em;

  color: white;
}

/* POST-PRODUCTION */

.post-production-gallery {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-production-image {
  margin: 0 10px 0;
}

.post-production-image img, .post-production-image iframe {
  width: 650px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.post-production-titles {
  text-align: start;
  font-size: 0.9em;
  font-weight: 300;
}

.post-production-titles a {
  font-style: italic;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 300;
}

.post-production-double {
  display: grid;
  grid-template-columns: 1fr 300px;

  margin: 20px 0 20px;
}

.post-production-buttons-container {
  display: flex;
  justify-content: center;

  margin-bottom: 25px;
  margin-top: 25px;
}

.post-production-buttons-container button {
  padding: 10px 20px;
  border: 1px solid red;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  color: white;
}

.post-production-buttons-container button:hover {
  border: 1px solid yellow;
}

.post-production-filter-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

button.post-production-filter-active {
  background: yellow;
  color: black;
  border: 1px solid yellow;
}

.postproductioncard.postproductionfilterhide {
  display: none;
}

/* WRITING */

#body-writing-page .writing-title {
  font-weight: 700;
  font-size: 0.85em;
}

#body-writing-page .writing-element {
  font-size: 0.85em;
}

#body-writing-page main a:hover {
  background-color: yellow;
  cursor: pointer;
  text-decoration: none;
}

#body-writing-page main a {
  text-decoration: underline;
}

/* LINKS OUT */

#body-links-page {
  padding: 2em;
  background-color: rgb(240, 255, 255);
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed blue;
  border-radius: 7px;

  margin-top: 0.7em;

  flex-direction: column;

  padding-bottom: 0.7em;
  padding-left: 0.7em;
  padding-right: 0.7em;

  height: 100%;

  /* background-color: rgb(240, 255, 255);
  filter: drop-shadow(7px 7px 0.5px lightblue); */
}

.links-multi-container {
  display: flex;
  gap: 0.7em;
}

.links-box-title {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 750;
  font-style: italic;
  background-color: lightgreen;
  font-size: 0.9em;

  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.links-grid {
  align-items: center;
  justify-content: center;

  display: flex;
  flex-wrap: wrap;

  row-gap: 0.7em;
  column-gap: 2.1em;

  margin-top: 0.7em;
}

.links-element {
  width: 110px;
  height: 35px;

  position: relative;
  cursor: pointer;
}

.links-element img {
  object-fit: cover;
  width: 110px;
  height: 35px;
}

.links-element p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-wrap: nowrap;

  color: black;
  background-color: rgba(255, 255, 255, .8);
  font-size: 0.75em;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.links-element:hover p {
  background-color: rgba(255, 252, 52, .8);
}

.links-page-links {
  font-size: 0.9em;
  text-align: start;
  width: 100%;

  line-height: 1.5em;
}

.links-page-links a {
  text-decoration: underline;
  text-decoration-style: wavy;
  color: darkblue;
  text-decoration-color: darkcyan;
}

.links-page-links span {
  font-size: 0.8em;
}

.links-page-links a:hover {
  background-color: black;
  text-decoration: none;
  color: lightblue;
  border-radius: 2px;
}

.links-page-gifs-title {
  display: flex;
  align-items: center;

  width: 100%;
  justify-content: space-between;
}

.links-page-gifs-title img {
  width: 60px;
  height: 30px;

  object-fit: contain;
}

.links-page-links-title {
  background-color: lightblue;
  display: inline-block;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 0.5em;
}

.links-vertical-stack {
  display: flex;
  flex-direction: column;
}

.links-inter-title {
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 1000;
  font-size: 1.5em;
  margin-top: 0.45em;

  border: 1px dashed blue;
  border-radius: 7px;
}

/* LISTENING BOOTH */

.body-listening-booth-010824 {
    /* background-image: url(/gifs/starry-sky.gif); */
    background-image: url(./gifs/tree-bird.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
  
    padding: 2em;
}

.listening-audio-players-010824 p {
  text-align: center;

  font-size: 0.7em;
  margin-top: 1em;
  padding: 1em;

  color: white;
  background-color: rgba(0, 0, 0, 0.7);

  display: inline-block;
}

.listening-audio-players-010824 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 6em);
}

.listening-audio-tag-010824 {
  border: 15px solid pink;

  width: 100%;
}

.body-listening-booth {
  /* background-image: url(/gifs/starry-sky.gif); */
  background-image: url(./listening-booth-images/Cagliostro-Car.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;

  padding: 2em;
}

.listening-audio-players {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: calc(100vh - 40em);
}

.listening-audio-tag {
  border: 15px solid gold;
  border-radius: 5px;

  width: 100%;
}

.listening-tracklist-container {
  text-align: center;
}

.listening-tracklist-container p {
  text-align: center;

  font-size: 0.7em;
  margin: 0.1em;
  padding: 0.7em;

  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;

  display: inline-block;
}

.listening-audio-players span {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 800;
  font-size: 2em;
  color: orangered;
  text-align: center;

  background-color: rgba(255, 255, 255, .85);
  border-radius: 5px;
  padding: 0.2em;
}

/* INTERNAL POSTS */

#body-internal-posts {
  padding: 2em;
  background-color: beige;
}

.posts-specific-header {
  font-size: 2em;
  font-weight: 350;
  margin-top: 0.4em;
  padding-top: 0.8em;
  border-top: 1px solid black;

  margin-bottom: 1.2em;

  display: block;
  text-decoration: none;
}

.posts-specific-header:hover {
  color: blue;
}

.internal-post-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.internal-post-content img, .internal-post-content video {
  width: 500px;
}

.internal-post-content span {
  margin-bottom: 1.5em;
  font-size: 0.8em;
  margin-top: 0.2em;
}

.internal-post-image {
  display: flex;
  flex-direction: column;

  text-align: end;
}

.internal-post-text {
  width: 100%;
  padding-left: 10em;
  padding-right: 10em;

  text-align: start;

  margin-bottom: 4em;
}