 /* the following values keeps the image pinned as you scroll */

#image{
	position: sticky;
    position: -webkit-sticky;
	top: 0px;
}

#hover_img{
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
}

#hover_text{
	position: absolute;
	top: 0px;
	right: 0px;
}

#footer{
	position: relative;
	float: right;
	padding: 1%;
}

/* the following values are stylistic, and may be edited for ~flavor~ */

/* changes the entire page, unless overwritten by another style */
body {
	font-size: 11px;
	font-family: monospace;
	background-color: white;
}

a {
  color: blue;
}

::selection {
  color: white;
  background: blue;
}

/* the style for the image hover box */
#hover_img{
	max-width: 65vw;
	max-height: 70vh;
	min-width: 25px;
	min-height: 25px;
  border: 2px solid dimgray;
	padding: 5px;
}

/* the style for the filename at the bottom of the page */
#hover_text{
	color: dimgray;
}

/* the style for the current line your mouse is over */
.highlighted {
	font-size: 13px;
	font-family: monospace;
	color: darkgray;
}

/* the style for a line you have previously moused over */
.previously-highlighted {
	font-size: 12px;
	font-family: monospace;
	color: dimgray;
}

/* the style for the title of the page */
.title {
	font-size: 12px;
	color:black;
	font-family: monospace;
	font-style: italic;
}

/* the style for the intro text */
.intro {
	font-size: 12px;
	margin-left: 10%;
	margin: 2%;
	width: 80%;
	font-family: monospace;
	font-style: italic;
	color: dimgray;
}

/* style for credits section */
.credits {
  border-top: 1px solid black;
  padding-top: 3px;
}

/* the style directory listing text */
.directory {
	font-size: 11px;
	font-family: monospace;
	text-decoration: underline;
	color: blue;
}

.directory:hover {
	font-size: 11.5px;
	cursor: pointer;
}

/* the style for the dates in the directory */
.date {
	font-size: 11px;
	font-family: monospace;
	font-style: italic;
}

/* the style for the filenames in the directory */
.filename {
	font-size: 11px;
	font-family: monospace;
}

/* the style for the separators in the directory (you can set these below) */
.separators {
	font-size: 11px;
	font-family: monospace;
	color: gray;
}

.directoryDiv {
	margin-left: 20px;
}

.fileDiv {
	margin-left: 20px;
}